[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
pylint = "*"
autopep8 = "*"
pymongo = "*"
motor = "*"
Werkzeug = "*"
python-multipart = "*"
uvicorn = "*"
pytest = "*"
python-jose = "*"
passlib = "*"

[requires]
python_version = "3.8"
